/*Otis horace*/

/* * {
    border:1pt solid white;
} */

*{
    margin: 0pc;

 }

 html,body{
     height: 100%;
 }
.flex-container {

    flex-direction:row;
    display:flex;
    margin:-1;
    text-align: center;
    direction: ltr;
    position: sticky;
justify-content:center;
    

}.flex-container :hover


.Content{
    
  

}

body {
    background-image: url("img/background.png");
    
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position-x: auto;
    background-position-y:35%
    position: relative;
    /* text-align: center; */
    margin-top: 3%;
    /* scroll-margin-block-end: 10%; */

    /* background-image: url("img/background.png");
    width: 60%;
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; */
    
    text-align: center;
    margin-top: 1%;
    margin-bottom: 20%;
    margin-left: 6%;
    margin-right: 6%;
    

  }
.p content {
    align-content: center;
    word-wrap: wrap;
}
h1{
    color: aliceblue;
    font-style: initial;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    padding: 05%;

  }

h2 {
    color: aliceblue;
    font-style: initial;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: 100;
    
  }

  h3{
    color: aliceblue;
    font-style: initial;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding:12%;
  
}
/* .footer{
    padding: 5%;
    display:block;
    position:bottom;
     bottom: -10% !important;
    justify-content:center;
    background-color: white;
    flex-direction: row;
    margin: 80%;
    direction: ltr;
} */

.flex-bottom{
    
    /* flex-direction:row; */
    display:flex;
  /* text-align: center;
    direction: ltr; */
    position: sticky;
justify-content:center;
}

}
/* #bottom{
    direction: inherit;
    table-layout:auto;
    justify-content: end */
}
